<div class="col s12">
    <h2 class="header">{{user.firstName}}'s Profile</h2>
    <div class="card horizontal">
        <div class="card-image">
            <img src="{{user.image}}">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <div class="input-field col s12">
                    <h3>{{user.userName}}</h3>
                </div>
            </div>
        </div>
        <div class="card-action">
            <a href="/dashboard">Go to dashboard</a>
        </div>
    </div>
</div>